- if current_user.role == 9
  %h1 Admin#new
  .notifications
    - flash.each do |key, value|
      .alert.alert-primary
        = content_tag(:div, value, class: key)
  = form_with model: @apptype, :url => params[:id]+"/update" do |f|
    .field
      = f.label :name
      %br/
      = f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "name", value: @apptype.name
    .field
      = f.label :description
      %br/
      = f.text_area :description, class: 'form-control', autofocus: true, autocomplete: "text", value: @apptype.description
    .field
      = f.label :area
      %br/
      = f.number_field :area, class: 'form-control', autofocus: true, autocomplete: "number", value: @apptype.area
    .field
      = f.label :user_mail
      %br/
      = f.text_field :user_mail, class: 'form-control', autofocus: true, autocomplete: "text", value: current_user.email, readonly: 'readonly'
    .actions
      = f.submit "送信", class: 'btn btn-primary'