
- if current_user.role == 9
  .notifications
    - flash.each do |key, value|
      .alert.alert-primary
        = content_tag(:div, value, class: key)
  %h1 Admin#index
  %p Find me in app/views/admin/index.html.haml
  %table.table.table-hover
    %thead
      %tr
        %th{scope: "col"} id
        %th{scope: "col"} 名前
        %th{scope: "col"} 説明
        %th{scope: "col"} 操作
    %tbody
      - @apptype.each do |a|
        %tr
          %td{scope: "col"}= a.id
          %td{scope: "col"}= a.name
          %td{scope: "col"}= simple_format(a.description)
          %td{scope: "col"}
            - if current_user.role == 9
              =link_to '編集', "/admin/#{a.id}", method: :get
              =link_to '削除', "/admin/d/#{a.id}", method: :delete
- else
  %h1 管理者になってから来てください。