.jumbotron.jumbotron-fluid
  .container-fluid
    %h1.display-4.fdfont このアプリについて

.container-fluid
  %h1#about このアプリについて
  %p このアプリでは発注の申請とその承認を電子化することができます。

  %h1#design デザインとアクセシビリティ
  %p このソフトウェアではアクセシブル性を心がけて設計を行っています。具体的には英国内務省の「アクセシビリティのためのデザイン」日本語版に基づいたUI・操作設計や画像ファイルへのalt要素の設置あるいは文字化などが挙げられます。また，表示においてもNotoシリーズ，Interシリーズ, スマートフォントUIなど可読性の高い文字を本文に採用しています。
  
  %h1#design ソフトウェア・ライセンスの表示
  %p すべての尾川史典が制作した部分に関してはMITライセンスによりライセンスされる。詳細はGitレポジトリを参照されたい。
  %a{href: "https://gitlab.com/mizphses/atlas"} https://gitlab.com/mizphses/atlas


:css
  .subtitle{
    font-size: 2em;
  }