.notifications
  - flash.each do |key, value|
    .alert.alert-primary.fdfont
      = content_tag(:div, value, class: key)
%h1.uk-align-left.fdfont
  - if user_signed_in?
    = current_user.username
    様、ようこそ
  - else
    ようこそ
%p このWEBサイトでは学園祭の調達関係を調整しています。
- if user_signed_in?
  メニューの「申請」をご確認ください。
- else
  上のログインボタンからログインしてください