%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    %br/
    = f.password_field :password, class: 'form-control', autocomplete: "current-password"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log in", class: 'btn btn-primary'
= render "devise/shared/links"
