%h1 Dashboard
%p 決済情報の一覧です
.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th{scope: "col"} id
        %th{scope: "col"} 申請カテゴリ
        %th{scope: "col"} 希望アイテム
        %th{scope: "col"} 説明
        %th{scope: "col"} 申請者
        %th{scope: "col"} 操作
    %tbody
      - @order.each do |a|
        %tr
          %td{scope: "col"}= a.id
          %td{scope: "col"}= Apptype.find(a.odtype).name
          %td{scope: "col"}= simple_format(a.whatto)
          %td{scope: "col"}= simple_format(a.description)
          %td{scope: "col"}= User.find_by(email: a.user_email).username
          %td{scope: "col"}
            - if current_user.role == 9
              =link_to '操作', "/edit/#{a.id}", method: :get 
            - else
              =link_to '状況確認', "/edit/#{a.id}", method: :get 
            - if current_user.role == 9
              =link_to '削除', "/service/d/#{a.id}", method: :delete