- if current_user.role == 9
  %h1 発注の編集

  = form_with url: "/service/edit/"+params[:id], model: @order do |f|
    =f.label :odtype
    =f.text_field :odtype, {class: "form-control", value: params[:id], readonly: "readonly"}
    =f.label :user_email
    =f.text_field :user_email, {class: "form-control", value: current_user.email, readonly: "readonly"}
    =f.label :whatto
    =f.text_area :whatto, {class: "form-control"}
    =f.label :description
    =f.text_area :description, {class: "form-control"}
    =f.label :approve
    =f.select :approve, {'承認': 1, '否認': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true }
    =f.label :apr_reason
    =f.text_area :apr_reason, {class: "form-control"}
    =f.label :provider
    =f.text_area :provider, {class: "form-control"}
    =f.submit :送信, {class: "btn btn-primary"}
- elsif current_user.email == @order.user_email
  %h1 発注の編集

  = form_with url: "/service/edit/"+params[:id], model: @order do |f|
    =f.label :odtype
    =f.text_field :odtype, {class: "form-control", value: params[:id], readonly: "readonly"}
    =f.label :user_email
    =f.text_field :user_email, {class: "form-control", value: current_user.email, readonly: "readonly"}
    =f.label :whatto
    =f.text_area :whatto, {class: "form-control"}
    =f.label :description
    =f.text_area :description, {class: "form-control"}
    =f.label :approve
    =f.select :approve, {'承認': 1, '否認': 2}, { include_blank: '選択してください'}, { class: 'form-control', readonly: "readonly"}
    =f.label :apr_reason
    =f.text_area :apr_reason, {class: "form-control", readonly: "readonly"}
    =f.label :provider
    =f.text_area :provider, {class: "form-control", readonly: "readonly"}
    =f.submit :送信, {class: "btn btn-primary"}
- else
  %h1 状況確認

  = form_with url: "/service/edit/"+params[:id], model: @order do |f|
    =f.label :odtype
    =f.text_field :odtype, {class: "form-control", value: params[:id], readonly: "readonly"}
    =f.label :user_email
    =f.text_field :user_email, {class: "form-control", value: current_user.email, readonly: "readonly"}
    =f.label :whatto
    =f.text_area :whatto, {class: "form-control", readonly: "readonly"}
    =f.label :description
    =f.text_area :description, {class: "form-control", readonly: "readonly"}
    =f.label :approve
    =f.select :approve, {'承認': 1, '否認': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true ,readonly: "readonly"}
    =f.label :apr_reason
    =f.text_area :apr_reason, {class: "form-control", readonly: "readonly"}
    =f.label :provider
    =f.text_area :provider, {class: "form-control", readonly: "readonly"}
    =f.submit :送信, {class: "btn btn-primary"}

:css
  .subtitle{
    font-size: 2em;
  }
  textarea .form-control{
    height: calc( 1.3em * 5 );
    line-height: 1.3;
  }