%h1 発注の作成:
%h3= @atypes.name
%p.font-weight-bold ご案内事項：
%p= simple_format(@atypes.description)
= form_with url: "/service/submit_la", model: @order do |f|
  =f.label :odtype
  =f.text_field :odtype, {class: "form-control", value: params[:id], readonly: "readonly"}
  =f.label :user_email
  =f.text_field :user_email, {class: "form-control", value: current_user.email, readonly: "readonly"}
  =f.label :whatto
  =f.text_area :whatto, {class: "form-control"}
  =f.label :description
  =f.text_area :description, {class: "form-control"}
  =f.label :attach
  =f.text_area :attach, {class: "form-control"}
  =f.submit :送信, {class: "btn btn-primary"}

:css
  .subtitle{
    font-size: 2em;
  }
  textarea.form-control{
    height: calc( 1.3em * 10 );
    line-height: 1.3;
  }