/*
  font load
  <! Base dir is /src/stylesheets/application.scss>
*/

@font-face{
  font-family: 'sfui';
  font-weight: 400;
  src:url('../src/fonts/sfui.woff2') format('woff2'),
      url('../src/fonts/sfui.otf') format('opentype');
}
@font-face{
  font-family: 'NsaJP';
  font-style: normal;
  font-weight: 400;
  src:url('../src/fonts/nsajp-r.woff') format('woff'),
      url('../src/fonts/nsajp-r.woff2') format('woff2'),
}
@font-face{
  font-family: 'NsaJP';
  font-style: normal;
  font-weight: 700;
  src:url('../src/fonts/nsajp-b.woff') format('woff'),
      url('../src/fonts/nsajp-b.woff2') format('woff2'),
}
@font-face {
  font-family: 'Inter var';
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src:url('../src/fonts/Inter.var.woff2') format('woff2'),
}
@font-face {
  font-family: 'Inter var';
  font-weight: 400 700;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src:url('../src/fonts/Inter.var.woff2') format('woff2'),
}
/*
  font family
*/

body, .nsajp{
  font-family: 'Inter var', 'NSaJP', sans-serif !important;
}
.navbar, .fdfont{
  font-family: 'sfui', sans-serif !important;
  font-weight: 300;
}