!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Atlas
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{:href => "/"} G3S Atlas
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto.nsajp
          %li.nav-item
            %a.nav-link{:href => "/"} ホーム
          %li.nav-item
            %a.nav-link{:href => "/dash"} ダッシュボード/状況確認
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              申請
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %a.dropdown-item{:href => "/service/index" }
                .font-weight-bold
                  承認プロセスについてのご案内
              - Apptype.all.each do |apptype|
                %a.dropdown-item{:href => "/service/"+apptype.id.to_s }
                  = apptype.name
          %li.nav-item
            %a.nav-link{:href => "/about"} ご利用について
          - if user_signed_in?
            - if current_user.role == 9
              %li.nav-item
                %a.nav-link{:href => "/admin"} 管理画面
          
        - if user_signed_in?
          %a.btn.btn-outline-success.my-2.my-sm-0.side1{:href => "/users/sign_out"} ログアウト
          %a.btn.btn-outline-success.my-2.my-sm-0{:href => "/users/edit"} ユーザ情報の編集
        - else
          %a.btn.btn-outline-success.my-2.my-sm-0.side1{:href => "/users/sign_in"} ログイン
          %a.btn.btn-outline-success.my-2.my-sm-0{:href => "/users/sign_up"} 登録
    .container-fluid
      = yield

:css
  .side1{
    margin-right: 1em;
  }